<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://localhost:4200/#/dashboard">
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200/#/dashboard">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200/#/dashboard">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200/#/dashboard">
                        Gmail
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}},
            <a href="http://localhost:4200/#/dashboard" target="_blank">Vỹ & Việt</a>
        </div>
    </div>
</footer>
